@model Post
@inject RenderingService rs

<link rel="stylesheet" href="~/css/comments.scss" />
<section id="comments">
    <div class="container">
        <h2>Comments</h2>
        @foreach (var comment in Model.Comments)
            {
            <article id="@comment.ID" class="@(comment.IsAdmin ? "admin" : null)" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                <span itemprop="name">@comment.Author</span>
                <time datetime="@comment.PubDate.ToString("s")" itemprop="datePublished">
                    @comment.PubDate.ToString("MMMM d, yyyy")
                    <a href="#@comment.ID" title="Permalink (#@comment.ID)" class="permalink">#</a>
                </time>
                <div itemprop="text">@rs.RenderComment(comment)</div>

                @if (User.Identity.IsAuthenticated)
                {
                    <a class="delete" asp-controller="Blog" asp-Action="DeleteComment" asp-route-postid="@Model.ID" asp-route-commentid="@comment.ID">Delete</a>
                }
            </article>
        }

        @if (Model.Comments.Count == 0)
        {
            <p>Be the first to post a comment</p>
        }

        <form method="post" asp-controller="Blog" asp-action="Comment" asp-route-postid="@Model.ID">
            <h3>Post a comment</h3>
            <label for="author">Name</label>
            <input id="author" name="author" placeholder="Your name" required />

            <label for="email">E-mail</label>
            <input id="email" name="email" placeholder="Example: mary@example.com" required />

            <label for="content">
                Comment
                <span>(<a href="https://simplemde.com/markdown-guide" target="_blank" rel="noreferrer noopener">markdown</a> allowed)</span>
            </label>
            <textarea id="content" name="content" rows="5" cols="100" required></textarea>

            <input type="submit" value="Post comment" />
        </form>
    </div>
</section>