@model Post
@inject IOptionsSnapshot<BlogSettings> settings

<section id="comments">
    <div class="container">
        <h2>Comments</h2>
        @foreach (var comment in Model.Comments)
        {
            <article id="@comment.ID" class="@(comment.IsAdmin ? "admin" : null)" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                <time datetime="@comment.PubDate.ToString("s")" itemprop="datePublished">
                    <a href="#@comment.ID" title="Permalink (#@comment.ID)">@comment.PubDate.ToString("MMMM d, yyyy")</a>
                </time>

                <img class="gravatar" alt="@comment.Author" src="@comment.GetGravatar()" width="60" height="60" />

                <div class="content">
                    <pre itemprop="text">@comment.Content</pre>
                    <span itemprop="name">@comment.Author</span>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="delete" asp-controller="Blog" asp-Action="DeleteComment" asp-route-postid="@Model.ID" asp-route-commentid="@comment.ID">Delete</a>
                    }
                </div>
            </article>
        }

        @if (Model.PubDate.AddDays(settings.Value.CommentsCloseAfterDays) >= DateTime.UtcNow)
        {
            <p asp-if="Model.Comments.Count == 0">Be the first to post a comment</p>

            <form method="post" asp-controller="Blog" asp-action="AddComment" asp-route-postid="@Model.ID">
                <h3>Post a comment</h3>
                <label for="author">Name</label>
                <input id="author" name="author" placeholder="Your name" required />

                <label for="email">E-mail</label>
                <input id="email" name="email" placeholder="Example: mary@example.com" required />

                <label for="content">Comment</label>
                <textarea id="content" name="content" rows="5" cols="100" required></textarea>

                <input type="submit" value="Post comment" />
            </form>
        }
        else
        {
            <br />
            <p>Comments are closed</p>
        }
    </div>
</section>