@model Post
@inject RenderingService rs
@inject IOptionsSnapshot<BlogSettings> settings
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Excerpt;
    bool showFullPost = ViewContext.RouteData.Values.ContainsKey("slug");
    string host = Context.Request.Scheme + "://" + Context.Request.Host;
}

@section Head {
    <link rel="canonical" href="@(host + Model.GetLink())" />
}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <time datetime="@Model.PubDate.ToString("s")" itemprop="datePublished">@Model.PubDate.ToString("MMMM d, yyyy")</time>
         <h2 itemprop="name headline"><a href="@Model.GetLink()" rel="canonical" itemprop="url">@Model.Title</a></h2>
    </header>

    @if (Model.Categories.Any())
    {
        <span> Posted in</span>
        <ul class="categories">
            @foreach (string cat in Model.Categories)
            {
                <li><a href="~/category/@cat" itemprop="articleSection">@cat</a></li>
            }
        </ul>
    }

    <div itemprop="articleBody mainEntityOfPage">@rs.RenderMarkdown(Model)</div>

    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a href="~/post/@Model.Slug/?edit=true" title="Edit the post">Edit post</a>
        </p>

        @section Scripts {
            <script src="~/js/admin.js" async></script>
        }
    }

    @if (!showFullPost && Model.Comments.Count > 0)
    {
        <p>
            <a href="@Model.GetLink()#comments" itemprop="discussionUrl" title="Go to the comments section">
                <span itemprop="commentCount">@Model.Comments.Count</span> comments
            </a>
        </p>
    }

    <meta itemprop="author" content="@settings.Value.Owner" />
    <meta itemprop="dateModified" content="@Model.LastModified.ToString("s")" />
</article>

@{
    if (showFullPost)
    {
        await Html.RenderPartialAsync("comments");
    }
}