@inject IOptionsSnapshot<BlogSettings> settings
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Description"]" />
    <link rel="stylesheet" href="~/css/site.scss" inline />
    @RenderSection("Head", required: false)
    <meta name="application-name" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="@(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path)" />
    <meta property="og:image" content="~/img/icon180x180.png" />
    <link rel="shortcut icon" href="~/img/icon16x16.png" />
    <link rel="apple-touch-icon" href="~/img/icon180x180.png" sizes="180x180" />
    <link rel="edituri" type="application/rsd+xml" title="RSD" href="~/rsd.xml" />
</head>
<body itemscope itemtype="http://schema.org/WebPage">

    <header class="siteheader container">
        <h1><a href="~/">@settings.Value.Name</a></h1>
        <span>By @settings.Value.Owner</span>
    </header>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="sitefooter">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="~/">Home</a></li>
                    <li><a href="~/about/">About</a></li>
                    @{
                        string path = Context.Request.Path;

                        if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="~/edit/">New post</a></li>
                            <li><a href="~/login/?returnUrl=@path&logout=1" title="Sign out as administrator">Sign out</a></li>
                        }
                        else
                        {
                            <li><a href="~/login/" title="Sign in as administrator">Sign in</a></li>
                        }
                    }
                </ul>
            </nav>
            <p>
                Copyright &copy;
                <span itemprop="copyrightYear">@DateTime.Now.Year</span>
                <span itemscope itemtype="http://schema.org/Person" itemprop="author copyrightHolder">
                    - <span itemprop="name">@settings.Value.Owner</span>
                </span>
            </p>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
