@page "{id?}"
@model EditPageModel
@{
    ViewData["Title"] = "Edit " + (Model.Post.Title ?? "new post");
}

<link rel="stylesheet" href="~/css/admin.scss" />
<link rel="stylesheet" href="~/lib/simplemde.min.css" />
<div asp-validation-summary="All"></div>

<form method="post" id="edit">
    <input type="hidden" asp-for="@Model.Post.ID" />

    <label asp-for="@Model.Post.Title" class="label">Title</label>
    <input asp-for="@Model.Post.Title" required placeholder="Title of blog post" />
    <br />

    <label asp-for="@Model.Post.Slug" class="label">Slug</label>
    <input asp-for="@Model.Post.Slug" required placeholder="The URL name" />
    <br />

    <label asp-for="@Model.Post.Excerpt" class="label">Excerpt</label>
    <textarea asp-for="@Model.Post.Excerpt" rows="3" required placeholder="Short description of blog post">@Model.Post.Excerpt</textarea>
    <br /><br />

    <textarea asp-for="@Model.Post.Content" aria-label="Content">@Model.Post.Content</textarea>

    <input type="submit" value="Save" />

    <input asp-for="@Model.Post.IsPublished" />
    <label asp-for="@Model.Post.IsPublished">Is published</label>
</form>

@section Scripts {
    <script src="~/lib/simplemde.min.js"></script>
    <script src="~/js/admin.js" async></script>
}