@page "{slug}"
@model PostPageModel
@inject RenderingService rs
@inject IOptionsSnapshot<BlogSettings> settings
@{
    ViewData["Title"] = Model.Post.Title;
    ViewData["Description"] = Model.Post.Excerpt;
}

<article class="post">
    <header class="container">
        <h2 itemprop="name">@Model.Post.Title</h2>
        <time datetime="@Model.Post.PubDate.ToString("s")" itemprop="datePublished">@Model.Post.PubDate.ToString("MMMM d, yyyy")</time>
        <a href="@Model.Post.GetLink()#comments" itemprop="discussionUrl" title="Go to the comments section">
            <span itemprop="commentCount">@Model.Post.Comments.Count</span> comments
        </a>
    </header>

    <div itemprop="text" class="container">
        @rs.RenderMarkdown(Model.Post)
        <br />
        @if (User.Identity.IsAuthenticated)
        {
            <a href="~/edit/@Model.Post.ID/" title="Edit the post">Edit post</a>
            <br /><br />

            @section Scripts {
                <script src="~/js/admin.js" async></script>
            }
        }
    </div>

    <link rel="stylesheet" href="~/css/comments.scss" />
    <section id="comments">
        <div class="container">
            <h2>Comments</h2>
            @foreach (var comment in Model.Post.Comments)
            {
                <article id="@comment.ID" class="@(comment.IsAdmin ? "admin" : null)" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                    <span itemprop="name">@comment.Author</span>
                    <time datetime="@comment.PubDate.ToString("s")" itemprop="datePublished">
                        @comment.PubDate.ToString("MMMM d, yyyy")
                        <a href="#@comment.ID" title="Permalink (#@comment.ID)">#</a>
                    </time>
                    <div itemprop="text">@rs.RenderComment(comment)</div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="delete" asp-page="Post" asp-page-handler="DeleteComment" asp-route-postid="@Model.Post.ID" asp-route-commentid="@comment.ID">Delete</a>
                    }
                </article>
            }

            @if (Model.Post.Comments.Count == 0)
            {
                <p>Be the first to post a comment</p>
            }

            <form method="post" asp-page="Post" asp-page-handler="Comment" asp-route-id="@Model.Post.ID">
                <h3>Post a comment</h3>
                <label asp-for="@Model.Comment.Author">Name</label>
                <input asp-for="@Model.Comment.Author" placeholder="Your name" required />

                <label asp-for="@Model.Comment.Email">E-mail</label>
                <input asp-for="@Model.Comment.Email" placeholder="Example: mary@example.com" required />

                <label asp-for="@Model.Comment.Content">
                    Comment
                    <span>(<a href="https://simplemde.com/markdown-guide" target="_blank" rel="noreferrer noopener">markdown</a> allowed)</span>
                </label>
                <textarea asp-for="@Model.Comment.Content" rows="5" cols="100" required></textarea>

                <input type="submit" value="Post comment" />
            </form>
        </div>
    </section>
</article>
