@page "{slug}"
@model PostPageModel
@inject RenderingService rs
@{
    ViewData["Title"] = Model.Post.Title;
}

@section Scripts {
    <script src="~/js/admin.js" async></script>

    <noscript id="deferred-styles">
        <link rel="stylesheet" href="~/css/comments.scss" />
    </noscript>
    <script>
        var loadDeferredStyles = function () {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);
    </script>

}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h2 itemprop="name">@Model.Post.Title</h2>
        <time datetime="@Model.Post.PubDate.ToString("s")" itemprop="datePublished">@Model.Post.PubDate.ToString("MMMM d, yyyy")</time>
        <a href="@Model.Post.GetLink()#comments" title="Go to the comments section">@Model.Post.Comments.Count comments</a>
    </header>

    <div itemprop="articleBody">@rs.RenderMarkdown(Model.Post)</div>

    <footer>
        <p>Categories, tags, social network sharing...</p>
    </footer>

    <section id="comments">
        <h2>Comments</h2>
        @foreach (var comment in Model.Post.Comments)
        {
            <article id="@comment.ID" class="@(comment.IsAdmin ? "admin" : null)">
                <span>@comment.Author</span>
                <time datetime="@comment.PubDate.ToString("s")" itemprop="datePublished">@comment.PubDate.ToString("MMMM d, yyyy")</time>
                <div>@rs.RenderComment(comment)</div>

                @if (User.Identity.IsAuthenticated)
                {
                    <a class="delete" asp-page="Post" asp-page-handler="DeleteComment" asp-route-postid="@Model.Post.ID" asp-route-commentid="@comment.ID">Delete</a>
                }
            </article>
        }

        <form method="post" asp-page="Post" asp-page-handler="Comment" asp-route-id="@Model.Post.ID">
            <fieldset>
                <legend>New comment</legend>
                <label for="author">Name</label>
                <input type="text" name="author" id="author" placeholder="Enter your name" required />

                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Example: mary@example.com" required />

                <label for="content">Comment <span>(markdown allowed)</span></label>
                <textarea rows="5" cols="100" name="content" id="content" required></textarea>

                <input type="submit" value="Post comment" />
            </fieldset>
        </form>
    </section>
</article>

@if (User.Identity.IsAuthenticated)
{
    <a href="~/edit/@Model.Post.ID/" title="Edit the post">Edit post</a>
}
