@inject IOptionsSnapshot<BlogSettings> settings
@{
    var host = Context.Request.Scheme + "://" + Context.Request.Host;
}
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <meta name="description" content="@ViewData["Description"]" />
    <link rel="stylesheet" href="~/css/site.scss" inline />
    @RenderSection("Head", required: false)
    <meta name="application-name" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="@(host + Context.Request.Path)" />
    <meta property="og:image" content="@host/img/icon180x180.png" />
    <link rel="shortcut icon" href="/img/icon16x16.png" />
    <link rel="apple-touch-icon" href="~/img/icon180x180.png" sizes="180x180" />
    <link rel="edituri" type="application/rsd+xml" title="RSD" href="~/rsd.xml" />
    <link rel="alternate" type="application/rss+xml" href="~/feed/rss/" />
    <link rel="alternate" type="application/atom+xml" href="~/feed/atom/" />
</head>
<body itemscope itemtype="http://schema.org/WebPage">

    <header class="siteheader container">
        <p itemprop="name"><a href="~/">@settings.Value.Name</a></p>
        By <span itemprop="author">@settings.Value.Owner</span>
    </header>

    <main itemprop="mainEntityOfPage" itemscope itemtype="http://schema.org/Blog">
        @RenderBody()
    </main>

    <footer class="sitefooter">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="~/">Home</a></li>
                    @{
                        string path = Context.Request.Path;

                        if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="~/post/?edit=true">New post</a></li>
                            <li><a href="~/logout/?returnUrl=@path" title="Sign out as administrator">Sign out</a></li>
                        }
                        else
                        {
                            <li><a href="~/login/?returnUrl=@path" rel="nofollow" title="Sign in as administrator">Sign in</a></li>
                        }
                    }
                </ul>
            </nav>
            <p>
               Powered by <a href="https://github.com/madskristensen/Miniblog.Core" rel="noopener noreferrer" target="_blank">Miniblog.Core</a>
            </p>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
